{% extends 'base.html.twig' %}
{% block body %}
    {% include 'components/navbar.html.twig' %}


    <div id="particles-js">
        <div class=" atc align-self-center ">

            <div class="card bg-dark text-white" style="width: 40rem;">
                <div class="card-body bg-dark">
                    {% for o in off %}
                    <h5 class="card-title text-center text-white">Vous candidatez pour le poste : {{ o.name }} </h5>
                    {% endfor %}
                    <div class="d-block">
                        {{ form(form) }}

                    </div>



                </div>
            </div>
        </div>
    </div>




{% endblock %}