

{% extends 'base.html.twig' %}

{% block body %}
    {% include 'components/navoff.html.twig' %}
    <div class="text-white">
    <p> Mercure receveur</p>
        <h1>AFSY - Mercure and Symfony</h1>
        <div id="mercure-content-receiver"></div>
        <form id="mercure-message-form" action="{{ path('bMessage') }}" method="post">
            <label for="mercure-message-input">Message:</label>
            <input type="text" id="mercure-message-input" name="message"/>
            <input type="submit" id="mercure-message-btn" value="Send"/>
        </form>
    </div>


    <script type="text/javascript">

       const _receiver = document.getElementById('mercure-content-receiver');
        const _messageInput = document.getElementById('mercure-message-input');
        const _sendForm = document.getElementById('mercure-message-form');

        const sendMessage = (message) => {
            if (message === '') {
                console.log('nope')
            }

            fetch(_sendForm.action, {
                method: _sendForm.method,
                body: 'message=' + message,
                headers: new Headers({
                    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                })
            }).then(() => {
                _messageInput.value = '';
            });
        };
       _sendForm.onsubmit = (evt) => {
           sendMessage(_messageInput.value);

           evt.preventDefault();
           return false;
       };


        let url = new URL('{{ mercure_publish_url }}');

        url.searchParams.append('topic', 'http://localhost:8000/test2');
        const eventSource = new EventSource(url, {withCredentials: true});
        console.log(eventSource);

        eventSource.onmessage = (evt) => {

            const data = JSON.parse(evt.data);

            if (!data.message) {
                return;
            }
            console.log(eventSource)

            _receiver.insertAdjacentHTML('beforeend', `<div class="message">${data.message}</div>`);
        };


    </script>
{% endblock %}