{% extends 'base.html.twig' %}

{% block body %}


    {% include 'components/navoff.html.twig' %}
    <div id="particles-js">
        <div class="atc  w-50 h-70 text-white">
            {{ form(form) }}
        </div>
    </div>



{% endblock %}